aiohttp
aiosignal
annotated-types
async-timeout
attrs
certifi
charset-normalizer
ctransformers
dataclasses-json
filelock
frozenlist
fsspec
greenlet
huggingface-hub
idna
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
marshmallow
multidict
mypy-extensions
numpy
orjson
packaging
py-cpuinfo
pydantic
pydantic_core
PyYAML
requests
SQLAlchemy
tenacity
tqdm
typing-inspect
typing_extensions
urllib3
yarl